<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>sign-up</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>Reg1</display-name>
		<servlet-name>Reg1</servlet-name>
		<servlet-class>com.xal.ors.servlet.Reg1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Reg1</servlet-name>
		<url-pattern>/Reg1</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.xal.ors.servlet.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CheckUserExist</display-name>
		<servlet-name>CheckUserExist</servlet-name>
		<servlet-class>com.xal.ors.servlet.CheckUserExist</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckUserExist</servlet-name>
		<url-pattern>/CheckUserExist</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Verify</display-name>
		<servlet-name>Verify</servlet-name>
		<servlet-class>com.xal.ors.servlet.Verify</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Verify</servlet-name>
		<url-pattern>/Verify</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ChangePass</display-name>
		<servlet-name>ChangePass</servlet-name>
		<servlet-class>com.xal.ors.servlet.ChangePass</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePass</servlet-name>
		<url-pattern>/ChangePass</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>EditInfo</display-name>
		<servlet-name>EditInfo</servlet-name>
		<servlet-class>com.xal.ors.servlet.EditInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditInfo</servlet-name>
		<url-pattern>/EditInfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MLogin</display-name>
		<servlet-name>MLogin</servlet-name>
		<servlet-class>com.xal.ors.servlet.MLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MLogin</servlet-name>
		<url-pattern>/MLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RemoveUser</display-name>
		<servlet-name>RemoveUser</servlet-name>
		<servlet-class>com.xal.ors.servlet.RemoveUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveUser</servlet-name>
		<url-pattern>/RemoveUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ExportExcel</display-name>
		<servlet-name>ExportExcel</servlet-name>
		<servlet-class>com.xal.ors.servlet.ExportExcel</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExportExcel</servlet-name>
		<url-pattern>/ExportExcel</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ChangePw</display-name>
		<servlet-name>ChangePw</servlet-name>
		<servlet-class>com.xal.ors.servlet.ChangePw</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePw</servlet-name>
		<url-pattern>/ChangePw</url-pattern>
	</servlet-mapping>
</web-app>